body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#home-h1 {
  color: darkolivegreen;
  font-size: 76px;
  position: absolute;
  top: 10px;
  left:30px;
}

#home-showcase {
  background-image: url('./Components/images/pet_hotel_home_main.jpeg');
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media only screen and (min-width: 1201px) {
  #home-showcase {min-height: 590px;} /* I changed this to fill my screen */
}

@media only screen and (max-width: 1200px) {
  #home-showcase {min-height: 460px;
  }
}

@media only screen and (max-width: 992px) {
  #home-showcase {min-height: 350px;}
}

@media only screen and (max-width: 768px) {
  #home-showcase {min-height: 240px;}
  .photo-attribution {display: none;}
}

@media only screen and (max-width: 540px) {
  #home-showcase {
    width: auto;
    min-height: 200px;
  }
  #showcase-photo-attr {
    display: none;
  }
}

.wiggle {
  color: black;
  position: absolute;
  top: 90%;
  right: 50%;
  font-size: 3em;
  transition: top 2s ease-in-out;
}

.wiggle:hover {
  color:red;
  animation-duration: 1s;
  animation-name: wiggle;
}

html {
  scroll-behavior: smooth;
}

@keyframes wiggle {
  from {
    top: 90%;
  }
  50% {
    top: 91%;
  }
  to {
    top: 90%;
  }
}

.bookings-modal {
  color: #000099;
  font-weight: 500;
  font-size: large;
}